body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: url('../public/fetch.png');
    background-repeat: no-repeat;
    background-size: cover
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.nav {
    font-size: 17px;
    font-weight: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(116, 200, 200);
    color: #0071e3;
}


/* rgb(84, 140, 140); */
.menu-toggle {
    display: none;
    background-color: #0071e3;
    border: none;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;


}



button {
    cursor: pointer;
    background: #0071e3;
    color: #fff;
    border: none;
    border-radius: 980px;
    font-size: 17px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;

}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav-item {
    margin: 0 15px;
    padding: 10px;
    transition: background 0.3s ease;
    animation: fadeIn 0.5s ease;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.nav-item:hover {
    background-color: #555;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    /* Changed from left: -300px */
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
    /* Changed from left 0.3s ease */
    color: white;
}


.sidebar.open {
    right: 0;
    /* Changed from left: 0 */
}


/* Open button styles */
#openBtn {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: transparent;
    transition: left 0.3s ease;
    padding: 5px 10px;
    border: none;
    cursor: pointer;

}

#openBtn img {
    max-width: 29px;
    /* Set maximum width for icons */
    vertical-align: middle;
    /* Align icons vertically */
}

/* Hidden class for toggling visibility */
.hidden {
    display: none;
}

/* Open button when the sidebar is open */
#openBtn.open {
    right: 300px;
}

/* Responsive styles */
/* For smaller screens */
@media (max-width: 767px) {
    .menu-toggle {
        display: block;
    }

    .nav-list:not(.hidden) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-item {
        margin: 0;
        padding: 10px 20px;
    }
}

/* Styles for larger screens */
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-item {
        margin-right: 10px;
    }

    #main,
    #footer {
        padding: 40px;
    }
}